@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  a{
    text-decoration: none;
  }

  body {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 200vh; 
    margin: 0; 
    width: 100vw; 
    overflow-x: hidden;
  }

  .hero-section{
    background-image: url("../img/pricing-section.png");
    margin-top: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero1 .subT{
  font-size: 20px;
  margin-top: -1rem;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to left, #8ca2ff, #dbeaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.navigationBar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0.5rem 9vw;
    align-items: center;
    background: linear-gradient(180deg, #12022d, #dbeaff 1000%);
    position: fixed;
    top: 0;
    z-index: 10; 
    height: 80px;
    box-shadow: 0 4px 6px #140230;
  }
    .navigationBar .navigation {
      display: flex;
      align-items: center;
      gap: -2rem;
  }
  
  .navigationBar .navigation-content {
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 5px;
      font-weight: 800;
      font-family: 'Poppins', sans-serif;
      position: relative;
      display: inline-block;
      transition: all 0.5s;
  }
  
  .navigationBar .button {
      border: 1px rgb(0, 0, 0) solid;
      font-size: 0.9rem;
      color: rgb(255, 255, 255);
      background-color: rgb(45, 44, 44);
      padding: 0.5rem 1rem;
      border-radius: 5px;
  }
  
  .navigationBar .navigation-content:hover {
      color: #9fb1ff;
      text-shadow: 0 0 9px #401758, 0 0 9px #401758, 0 0 9px #401758, 0 0 9px #401758;
  }
  
  .navigationBar .button:hover {
      color: #000000;
      background-color: #ffffff;
      border: none;
  }
  
  .navigationBar .logo {
      display: flex;
      align-items: center;
  }
    
  .navigationBar .logo-img {
      width: 80px;
      height: auto;
    }

.hero1 {
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        padding-top: 30px; 
        box-sizing: border-box;
    }
    
    .hero1 .tagline {
      font-family: "Poppins", sans-serif;
      font-size: 4.2rem;
      color: rgb(27, 14, 30); 
      margin-bottom: 1px;
      margin-top: -3.3rem;
      position: relative; 
      letter-spacing: 0rem;
      background: linear-gradient(to left, #8ca2ff, #dbeaff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
    
    .hero1 .subtext {
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      color: rgb(255, 255, 255); 
      position: relative; 
      letter-spacing: 0rem;
      margin-bottom: 25px;
      margin-top: -0.9rem;
    
    }

    
     
      .mainprice-section {
        background-image: url("../img/pricing-section.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        padding: 100px;
    }
    
    .pricing-container {
      
        display: flex;
        gap: 70px;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -2rem;
        max-width: 1800px; /* Container width */
        padding: 100px;
        margin-top: -10rem;
        box-sizing: border-box;
    }
    
    .services-section,
    .computation-section {
      
        padding: 20px 18px;
        background: linear-gradient(220deg, #a9eeff, #9fb1ff);
        border-radius: 8px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for emphasis */
    }
    
    .services-section {
        max-width: 600px; /* Width for services section */
    }
    
    .computation-section {
        max-width: 450px; /* Width for computation section */
        
    }

    .computation-section li{
      font-family: 'Poppins', sans-serif;
      font-size: 1.3rem;
  }

  .computation-section h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #20006b;
}
    
    .services-section h4  {
      font-family: 'Poppins', sans-serif;
      font-size: 2.2rem;
      margin-bottom: 10px;
      letter-spacing: -1.2px;
      color: #000000;
  }

    .computation-section h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 2.2rem;
        margin-bottom: 10px;
        letter-spacing: -1.2px;
        color: #000000;
        margin-left: 2px;
        }

    .category h5 {
       font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        margin-bottom: 10px;
        color: #1d0555;
    }

    .category span {
      font-family: 'Poppins', sans-serif;
       font-size: 1.0rem;
       margin-bottom: 15px;
       color: #1d0555;
   }
    
    .service-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5px;
    }
    
    .service-item .submain {
        flex: 1;
        font-size: 1rem;
        color: #2b2134;
        text-align: left;
        max-width: 560px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .service-item .minus-btn:hover {
      background: #cd5959;
    }

    .service-item .plus-btn:hover {
      background: #59cd5b;
    }
    
    button {
        background: #401758;;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
    }

   /* button:hover {
        background: #59cd5f;
    }*/
    
    .service-item .quantity {
        font-size: 1.2rem;
        font-weight: bold;
        width: 150px;
        text-align: center;
        margin: 0 2px;
        display: inline-block;
    }
    
   

    .total {
        font-size: 4.5rem;
        font-weight: bold;
        color: #000000;
        margin-bottom: 10px;
        text-align: center;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    .computation-section li {
        margin-bottom: 2px;
        font-size: 1rem;
    }

    .computation-section  h5 {
      margin-top: 1rem;
      font-size: 1.5rem;
    }

    @media (max-width: 1200px) {
        .pricing-container {
            gap: 15px;
            padding: 15px;
        }
    
        .services-section,
        .computation-section {
            max-width: 100%; /* Full width on smaller screens */
            padding: 50px;
        }
    }
    
      
      
      
      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        padding: 0.5rem 9vw;
        background: linear-gradient(180deg, #12022d, #dbeaff 1000%);
        box-shadow: 0 -4px 6px #140230; 
        height: 80px;
      }
      
      .footer-logo {
        height: 35px; 
        object-fit: contain; 
      }
      
      .footer-tagline,
      .footer-credits {
        margin: 0;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
      }
      
      .footer-tagline {
        background: linear-gradient(to left, #8ca2ff, #dbeaff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
      }
      
      .footer-credits {
        font-size: 0.7rem;
        color: #9fb1ff;
      }
      
      