@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  a{
    text-decoration: none;
  }

  body {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh; 
    margin: 0; 
    width: 100vw; 
    overflow-x: hidden;
    background: rgb(22, 8, 51);
  }

.navigationBar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0.2rem 9vw;
    align-items: center;
    background: linear-gradient(180deg, #12022d, #dbeaff 1000%);
    position: fixed;
    top: 0;
    z-index: 10; 
    height: 80px;
    box-shadow: 0 4px 6px #140230;
  }
    .navigationBar .navigation {
      display: flex;
      align-items: center;
      gap: -2rem;
  }
  
  .navigationBar .navigation-content {
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 5px;
      font-weight: 800;
      font-family: 'Poppins', sans-serif;
      position: relative;
      display: inline-block;
      transition: all 0.5s;
  }

  .navigationBar .navigation-content-active{
    color: #9fb1ff;
    text-shadow: 0 0 9px #401758, 0 0 9px #401758, 0 0 9px #401758, 0 0 9px #401758;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}
  
  .navigationBar .button {
      border: 1px rgb(0, 0, 0) solid;
      font-size: 0.9rem;
      color: rgb(255, 255, 255);
      background-color: rgb(45, 44, 44);
      padding: 0.5rem 1rem;
      border-radius: 5px;
  }
  
  .navigationBar .navigation-content:hover {
    color: #9fb1ff;
    text-shadow: 0 0 9px #401758, 0 0 9px #401758, 0 0 9px #401758, 0 0 9px #401758;
  }
  
  .navigationBar .button:hover {
      color: #000000;
      background-color: #ffffff;
      border: none;
  }
  
  .navigationBar .logo {
      display: flex;
      align-items: center;
  }
    
  .navigationBar .logo-img {
      width: 80px;
      height: auto;
    }

    .content {
      flex: 1; 
    }
    
.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.productContainer .box{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.productContainer .box::before{
  content: " ";
  position: absolute;
  text-decoration: none;
  top: 30px;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.productContainer .box::after{
  content: " ";
  position: absolute;
  text-decoration: none;
  top: 30px;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.productContainer .box:hover:before,
.productContainer .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.productContainer .box:nth-child(1):before,
.productContainer .box:nth-child(1):after {
  background: linear-gradient(315deg,#ffffff, #a9eeff, #9fb1ff, #401758);
}

.productContainer .box:nth-child(2):before,
.productContainer .box:nth-child(2):after {
  background: linear-gradient(315deg,#ffffff, #a9eeff, #9fb1ff, #401758);
}

.productContainer .box:nth-child(3):before,
.productContainer .box:nth-child(3):after {
  background: linear-gradient(315deg,#ffffff, #a9eeff, #9fb1ff, #401758);
}

.productContainer .box:nth-child(4):before,
.productContainer .box:nth-child(4):after {
  background: linear-gradient(315deg,#ffffff, #a9eeff,  #9fb1ff, #401758);
}

productContainer .box:nth-child(5):before,
.productContainer .box:nth-child(5):after {
  background: linear-gradient(315deg,#ffffff, #a9eeff, #9fb1ff, #401758);
}

productContainer .box:nth-child(6):before,
.productContainer .box:nth-child(6):after {
  background: linear-gradient(315deg,#ffffff, #a9eeff, #9fb1ff, #401758);
}

.productContent {
  z-index: 1;
  display: none;
}


























    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; 
      padding: 0.5rem 9vw;
      background: linear-gradient(180deg, #12022d, #dbeaff 1000%);
      box-shadow: 0 -4px 6px #140230; 
      height: 80px;
    }
    
    .footer-logo {
      height: 35px; 
      object-fit: contain; 
    }
    
    .footer-tagline,
    .footer-credits {
      margin: 0;
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 0.7rem;
    }
    
    .footer-tagline {
      background: linear-gradient(to left, #8ca2ff, #dbeaff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
    
    .footer-credits {
      font-size: 0.7rem;
      color: #9fb1ff;
    }